<!-- src/main/resources/logback-spring.xml -->
<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- 공통 로그 패턴 -->
  <property name="LOG_PATTERN"
            value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] [%thread] %-5level %logger{36} - %msg%n"/>

  <!-- 별도 파일에 분리해 둔 콘솔 Appender 불러오기 -->
  <include resource="console-appender.xml"/>

  <!-- Root 로거 설정 -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
