<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 콘솔 출력만, 메시지 내용만 찍기 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 오직 로그 메시지(%msg)와 줄바꿈(%n)만 출력 -->
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- 모든 로그 레벨(DEBUG 이상) 콘솔로 출력 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>




